body{
	
	font-family: 'K2D', sans-serif; 
}

.nav-img{
	width : 50px;
}


.footer{
	position: absolute;
	bottom:0;
	height:40px;
	width:100%;
	background-color: #f6f6f6;
}

.jumbotron {
	background-image: url("img/background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height:550px;
}

.name-img{
	width : 50%;

}

.title{
	text-align: center;
}

.main-button{
	text-align: center;
}


.not-home{
	background-image: url("img/background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: cover;
	height : 620px;
}

table{

}

th{
	text-align:center;

}
tr{
	text-align:center;
}

table, th, td {
	border: 3px solid lightgrey;
	border-collapse: collapse;
}

.row{
	padding-top: 125px;

}


#main-button{
	padding: 15px 40px;
	border-radius: 18px;
	color: #2BCBBA;
	background: #f7f7f7;
	font-size: 15px;
	
	font-style: italic;
}

#main-button:hover{
	text-decoration: none;
	background: #2BCBBA;
	color : #f7f7f7;

}

.form{
	padding-bottom: 20px;
}

.submit{
	text-align: center center;
	color : #2BCBBA;
	background : #e0e0e0;
	border : none;
	border-radius: 15px;
	padding:10px;
}

#submit:hover {
	background: #2BCBBA;
	color : white;
}

.container{
	background : #f6f6f6;
	padding : 10px 20px;
	color : #2BCBBA;
	border-radius:10px;
}

.find-box
{
	text-align:center;
	width : 50%;
}

.fields{
	text-align: center;
}

h3{
	text-decoration: underline;
}
