body, html{
	
	font-family: 'K2D', sans-serif; 
	min-height : 100%;
	height: 100%;
}


.nav-img{
	width : 50px;
}

.navbar{
	padding-top: 2px;
	padding-bottom: 2px;
}

.footer{
	position: absolute;
	
	width:100%;
	text-align : center;
	padding-top: 0.5em;

	background-color: #f6f6f6;
}

.footer span{
	padding-bottom: 0;
	margin-bottom: 0;
}

.foot{
	/*bottom: 0;*/
}

.jumbotron {
	background-image: url("img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height:550px;
	margin-bottom: 0;
}

.name-img{
	width : 50%;

}

.title{
	text-align: center;
}

.main-button{
	text-align: center;

}


.not-home{
	background-image: url("img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	
	margin-bottom: 0;
	min-height : 100%;
}

table{

}

th{
	text-align:center;

}
tr{
	text-align:center;
}

table, th, td {
	border: 3px solid lightgrey;
	border-collapse: collapse;
}



#main-button{
	padding: 15px 40px;
	border-radius: 18px;
	color: #2BCBBA;
	background: #f7f7f7;
	font-size: 15px;
	border : #2BCBBA solid 2px;
	font-style: italic;
}

#main-button:hover{
	text-decoration: none;
	background: #2BCBBA;
	color : #f7f7f7;

}

.form{
	padding-bottom: 20px;
}

.submit{
	text-align: center center;
	color : #2BCBBA;
	background : #e0e0e0;
	border : none;
	border-radius: 15px;
	padding:10px;
}

#submit:hover {
	background: #2BCBBA;
	color : white;
	text-decoration: none;
}

.container{
	background : #f6f6f6;
	padding : 10px 20px;
	color : #2BCBBA;
	border-radius:10px;
}

#foot{
	padding:0;
}

.foot{
	padding:0;
	border-radius:0;
}

.find-box
{
	text-align:center;
	width : 50%;
}

.find-events{
	padding-bottom:30px;
}

.fields{
	text-align: center;
}

h3{
	text-decoration: underline;
}


.login-box{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align : center;
}

.login-box h1{
	color : #2BCBBA;
	text-align: center;
}

.login-box a{
	color : #2BCBBA;
}

.profile-pic{
	border-radius : 15px;
	width: 2em;
}

